# add your file or folder / @github_username to the list below

*                           @cole-wilson @GoldenGuy1000

src/onboarding_echo         @andy-sorge
src/onboarding              @cole-wilson
src/onboarding_example      @cole-wilson
src/adrian_pkg              @guppyadrian
src/oliver_pkg              @GoldenGuy1000
src/james_pkg               @jhaddixcodes
src/ben_pkg                 @benvrao
src/cole_pkg                @cole-wilson
src/ziang_pkg               @zichen04

.clang-format               @ryden-handsaker
Dockerfile                  @andy-sorge
flake.*                     @andy-sorge
.devcontainer               @andy-sorge
