--- # ryden-format:
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AlignCompound: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
BracedInitializerIndentWidth: 2
BreakAfterAttributes: Never
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: false
BreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 2
Cpp11BracedListStyle: false
IndentExportBlock: false
IndentExternBlock: NoIndent
IndentRequiresClause: false
IndentWidth: 4
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
RemoveBracesLLVM: true
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: ReturnStatement
SeparateDefinitionBlocks: Always
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterNot: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 4
TabWidth: 4
VerilogBreakBetweenInstancePorts: false
WrapNamespaceBodyWithEmptyLines: Always
