[submodule "vendor/vectornav"]
	path = vendor/vectornav
	url = https://github.com/dawonn/vectornav.git
	branch = ros2
[submodule "vendor/waterlinked_dvl"]
	path = vendor/waterlinked_dvl
	url = https://github.com/Robotic-Decision-Making-Lab/waterlinked_dvl
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/gncea"]
	path = vendor/gncea
	url = https://github.com/palouserobosub/gncea
[submodule "vendor/behaviortree_cpp"]
	path = vendor/behaviortree_cpp
	url = https://github.com/BehaviorTree/BehaviorTree.CPP
[submodule "vendor/behaviortree_cpp.ROS2"]
	path = vendor/behaviortree_cpp.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2
[submodule "vendor/spinnaker-sdk"]
	path = vendor/spinnaker-sdk
	url = https://github.com/palouse-robosub/spinnaker-sdk
